<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a href="#">Genereted components</a>
    <span class="log-date">12/27/2017</span>
    <i class="fa fa-remove"></i> 
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a href="#">Genereted components 2</a>
    <span class="log-date">12/27/2017</span>
    <i class="fa fa-remove"></i> 
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a href="#">Genereted components 3</a>
    <span class="log-date">12/27/2017</span>
    <i class="fa fa-remove"></i> 
  </li>
</ul>